"*":
  "atom-beautify":
    _analyticsUserId: "8aa27af5-95ca-4eeb-8d42-cc805c286d60"
    html_wrap_attributes: "force"
    html_wrap_attributes_indent_size: 4
  autosave:
    enabled: true
  core:
    excludeVcsIgnoredPaths: false
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  docblockr: {}
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "60ffa8ee-c4f3-40e3-29b9-9558474a06e2"
  "git-diff": {}
  linter:
    errorPanelHeight: 74
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-jshint": {}
  "linter-jsonlint": {}
  "merge-conflicts": {}
  "symbols-tree-view":
    autoHide: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view": {}
  "tree-view-git-status":
    autoToggle: false
  "tree-view-open-files": {}
  welcome:
    showOnStartup: false
